:root{
	--font-outfit: 'Outfit', sans-serif;
	--color-purple:#8247ff;
	--color-orange:#fe8162;
	--color-gray:#767575;
	--color-newhite:#ededfa;
	--color-home:#fdf2ec;
}
body{
	font-family: var(--font-outfit);
}
/* navbar */
.navbar{
	background: var(--color-home);
}

.nav-item{
	padding: 0px 20px;
	font-size: 1.1em;
	font-weight: 400;
}

.navbtn{
	background: #fff;
	color: #000;
	border-radius: 10px;
	border: none;
	padding: 0px 20px;
	font-weight: 600;
}

/* home-container */

.home-container{
	background: var(--color-home);
}

.tag-div{
	width: fit-content;
	border: 0.5px solid var(--color-gray);
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 10px 0px 10px;
	height: fit-content;
}

.tag-div p{
	color: var(--color-purple);
	font-size: 0.8em;
	line-height: 0.4em;
	font-weight: 500;
}

.text_main_h1 >h1{
	font-weight: 500;
	font-size: 5em;
	letter-spacing: -2px;
}

.span-text{
	color: var(--color-orange);
}

.main-para >h4{
	color: var(--color-gray);
	font-size: 1.6em;
}

.blue_btn{
	background-color: var(--color-purple);
	color: #fff;
	font-size: 1.3em;
	border-radius: 10px;
	padding: 10px 50px;
	border: none;
}

.white-btn{
	background: #fff;
	font-size: 1.3em;
	border-radius: 10px;
	padding: 10px 40px;
	border: 1px solid #000;
}
