:root{
	--font-outfit: 'Outfit', sans-serif;
	--color-purple:#8247ff;
	--color-orange:#fe8162;
	--color-gray:#767575;
	--color-newhite:#ededfa;
	--color-home:#fdf2ec;
	--color-card:#212121;
	--color-tick:rgb(67, 214, 126);
}
body{
	font-family: var(--font-outfit);
}
/* navbar */
.navbar{
	background: var(--color-home);
}

.nav-item{
	padding: 0px 20px;
	font-size: 1.1em;
	font-weight: 400;
}

.navbtn{
	background: #fff;
	color: #000;
	border-radius: 10px;
	border: none;
	padding: 0px 20px;
	font-weight: 600;
}

/* home-container */

.home-container{
	background: var(--color-home);
}

.tag-div{
	width: fit-content;
	border: 0.5px solid var(--color-gray);
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 10px 0px 10px;
	height: fit-content;
}

.tag-div p{
	color: var(--color-purple);
	font-size: 0.8em;
	line-height: 0.4em;
	font-weight: 500;
}

.text_main_h1 >h1{
	font-weight: 500;
	font-size: 5em;
	letter-spacing: -2px;
}

.span-text{
	color: var(--color-orange);
}

.main-para >h4{
	color: var(--color-gray);
	font-size: 1.6em;
}

.blue_btn{
	background-color: var(--color-purple);
	color: #fff;
	font-size: 1.3em;
	border-radius: 10px;
	padding: 10px 50px;
	border: none;
}

.white-btn{
	background: #fff;
	font-size: 1.3em;
	border-radius: 10px;
	padding: 10px 40px;
	border: 1px solid #000;
}

.home-img{
	border-radius: 22px;
	margin: 50px 0px;
}

/* premier-feature-div */
.premier-feature-div{
	background-color: var(--color-newhite);
}

.text_main_h2 >h1{
	font-weight: 500;
	font-size: 4em;
	letter-spacing: -2px;
}

.left-cont{
	background-color: var(--color-newhite);
	padding: 80px 80px 20px 30px;
	border-radius: 20px;
	width: max-content;
	
}

.left-cont h2{
	font-size: 2.7em;
}

.left-cont div{
	padding: 5px;
	background-color: #fff;
	height: fit-content;
	width: fit-content;
	border-radius: 20px;
	white-space: normal;
}

.left-cont div h2{
	font-size: 2em;
}

.right-cont{
	border-radius: 20px;
	margin-left:50px;
	border-bottom-width: 1px;
    border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
}

.right-caption{
	margin: 30px;
}

.figure-div{
	border-bottom-width: 1px;
    border-color: var(--token-bbe70a49-69b1-4663-bb59-db1309f939d9, rgb(237, 237, 250));
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
	border-radius: 20px;
	margin: 20px;
	width: 30.2%;

}

.figure-div div img{
	margin: 12px;
}

.figure_caption{
	margin: 20px 30px;
}

.figure_caption p{
	color: var(--color-gray);
}

/* andmore-section */

.andmore-section{
	background: #000;
	padding: 2% 5%;
}

.card-div{
	background-color: var(--color-card);
	border-radius: 20px;
	padding: 40px 30px;
	text-align: center;
	margin: 20px;
	width: 30.2%;
}

.icon-card-div{
	padding: 10px 30px;
	font-size: 1.6em;
	border-radius: 20px;
	width: fit-content;
	background-color: var(--color-purple);
}

.icon-card-div i{
	font-weight: 800;
}

.card-para{
	color: var(--color-gray);
}

/* integration-section */

.text_main_h3 h3{
	font-size: 3em;
}

/* faq-section */

.faq-para{
	color: var(--color-gray);
	font-size: 1.4em;
}

.accordion-item{
	margin: 20px 0px;
	border: none;
	background: #F6F8FC;
	border-radius: 20px;
	padding: 10px;
}

.accordion-header >button{
	font-size: 0.7em;
	font-weight: 700;
	background-color: #F6F8FC	;

}

.accordion-header{
	background-color: #F6F8FC	;
}

/* pricing-section */

.pricing-section{
	margin: 10% ;
}

.figone{
	padding: 30px 30px;
	border-radius: 20px;
	margin: 10px;
	width: 30.2%;
	background: var(--color-newhite);
	height: auto;
}

.tags-div{
	background: #fff;
	color:var(--color-orange);
	width: fit-content;
	padding: 0px 15px;
	border-radius: 15px;
}

.tags-div p{
	font-size: 1em;
	font-weight: 500;
}

.tag-main-div h2{
	font-size: 4em;

}
.tag-main-div >h2 >sub{
	font-size: 0.5em;
}
.fa-check{
	color: var(--color-tick);
	margin-right: 20px;
}

.div-tag-ul{
	list-style: none;
	padding: 0px;
	margin: 30px 0px;
}

.blue_btn2{
	background-color: var(--color-purple);
	color: #fff;
	font-size: 1.3em;
	border-radius: 10px;
	padding: 10px 20px;
	border: none;
}

.white-btn2{
	background: #fff;
	font-size: 1.3em;
	border-radius: 10px;
	padding: 10px 20px;
	border: none;
}

.div-tag-ul >li{
	color: var(--color-gray);
	font-size: 1em;
	margin: 10px 0px;
}

/* testimonials-section */

.para-medium{
	font-size: 1.3em;
	color: var(--color-gray);
}

.test-card{
	border-width: 1px;
	padding: 30px 30px;
	border-style: solid;
	border-radius: 20px;
	border-color:  rgb(237, 237, 250);
	margin: 20px;
	width: 21.9%;
	height: fit-content;
}

.test-card p {
	font-size: 1.2em;
}

/* user-section */


.user-section{
	width: 80%;
	border-width: 1px;
	padding: 5% 8%;
	border-style: solid;
	border-radius: 20px;
	border-color:  rgb(237, 237, 250);
}

.user-tag-div {
	width: fit-content;
	border: 0.5px solid var(--color-gray);
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px 0px 20px;
	height: fit-content;
}
.user-tag-div p > span{
	color: var(--color-purple);
	font-size: 1.5em;
	line-height: 0.7em;
	font-weight: 700;
}
.user-tag-div p{
	font-size: 1.5em;
	line-height: 0.7em;
	font-weight: 700;
}

/* footer-section */

.footer{
	background-color: var(--color-home);
	padding: 100px ;
}

